.cover__title {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 560px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #ffffff;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc((100vw - 426px) / (768 - 426) * (72 - 32) + 32px);
  }
}
@media screen and (max-width: 320px) {
  .cover__title {
    width: 250px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}
