.place__paragrath {
  margin: 0;
  margin-bottom: 1.625rem;
  max-width: 484px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}
.place__paragrath:last-of-type {
  margin: 0;
}
@media (min-width: 426px) and (max-width: 768px) {
  .place__paragrath {
    font-size: calc((100vw - 426px) / (768 - 426) * (18 - 16) + 16px);
  }
}
@media (max-width: 425px) {
  .place__paragrath {
    font-size: 16px;
  }
}
