.intro__title {
  margin: 0 0 40px;
  max-width: 690px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}
@media screen and (max-width: 1024px) {
  .intro__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: calc((100vw - 426px) / (768 - 426) * (54 - 32) + 32px);
  }
}
@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 84%;
    font-size: 32px;
    line-height: 1.09;
  }
}
